[submodule "Sam-3d-objects"]
	path = submodule/Sam-3d-objects
	url = https://github.com/Yuchi-Zhang-00/sam-3d-objects.git
[submodule "AnySplat"]
	path = submodule/AnySplat
	url = https://github.com/Yuchi-Zhang-00/AnySplat.git
[submodule "Prompt-Inpaint"]
	path = submodule/Prompt-Inpaint
	url = https://github.com/MrZoyo/Prompt-Inpaint.git
